---
interface Props {
	imageFrom1: String
  imageFrom2: String
  imageFrom3: String
  imageFrom4: String
  imageFrom5: String
  imageFrom6: String
}

const { imageFrom1, imageFrom2, imageFrom3, imageFrom4, imageFrom5, imageFrom6 } = Astro.props;
---

<div class="slider">
	<div class="slide-track">
    <div class="slide">
			<img src=`${imageFrom1}` class="border border-gray-300 shadow-md" alt="">
		</div>
		<div class="slide">
			<img src=`${imageFrom2}` class="border border-gray-300 shadow-md" alt="">
		</div>
		<div class="slide">
			<img src=`${imageFrom3}` class="border border-gray-300 shadow-md" alt="">
		</div>
		<div class="slide">
			<img src=`${imageFrom4}` class="border border-gray-300 shadow-md" alt="">
		</div>
		<div class="slide">
			<img src=`${imageFrom5}` class="border border-gray-300 shadow-md" alt="">
		</div>
		<div class="slide">
			<img src=`${imageFrom6}` class="border border-gray-300 shadow-md" alt="">
		</div>
		<div class="slide">
			<img src=`${imageFrom1}` class="border border-gray-300 shadow-md" alt="">
		</div>
		<div class="slide">
			<img src=`${imageFrom2}` class="border border-gray-300 shadow-md" alt="">
		</div>
		<div class="slide">
			<img src=`${imageFrom3}` class="border border-gray-300 shadow-md" alt="">
		</div>
		<div class="slide">
			<img src=`${imageFrom4}` class="border border-gray-300 shadow-md" alt="">
		</div>
		<div class="slide">
			<img src=`${imageFrom5}` class="border border-gray-300 shadow-md" alt="">
		</div>
		<div class="slide">
			<img src=`${imageFrom6}` class="border border-gray-300 shadow-md" alt="">
		</div>
		<div class="slide">
			<img src=`${imageFrom1}` class="border border-gray-300 shadow-md" alt="">
		</div>
		<div class="slide">
			<img src=`${imageFrom2}` class="border border-gray-300 shadow-md" alt="">
		</div>
	</div>
</div>

<style>
    @-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
            transform: translateX(calc(-250px * 7));
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
            transform: translateX(calc(-250px * 7));
  }
}
.slider {
  background: ;
  /*box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);*/
  height: 250px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.slider::before, .slider::after {
  background: linear-gradient(to right, 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 200px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  -webkit-animation: scroll 40s linear infinite;
          animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
  gap: 3rem;
}
.slider .slide {
  height: 200px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slide{
  border-radius: 0.5rem;
}

.slider .slide img {
  height: 200px; /* Ajusta la altura de las imágenes según lo necesites */
  width: auto; /* Mantén el ancho automático para mantener la proporción */
  border-radius: 1rem;
}

</style>