---
interface Props {
    title: string;
    huespedes: String;
    habitaciones: String;
    camas: String;
    baños: String;
    description: String;
    comodidad1: String;
    comodidad2: String;
    comodidad3: String;
    comodidad4: String;
    comodidad5: String;
}

const { 
    title,
    huespedes,
    habitaciones,
    camas,
    baños,
    description,
    comodidad1, 
    comodidad2, 
    comodidad3, 
    comodidad4, 
    comodidad5
} = Astro.props;
---

<div class="flex flex-col justify-center items-center content-center text-center">
    <div class="text-center flex flex-col">
        <h1 class="text-4xl flex items-center font-semibold justify-center text-center text-[#224E35]" style="text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);">{title}</h1>
        <div class="flex items-center font-semibold justify-center text-xl text-center text-green-second gap-12 mt-6">
            <p class="flex justify-center items-center object-center content-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-building-cottage" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M3 21l18 0" />
                    <path d="M4 21v-11l2.5 -4.5l5.5 -2.5l5.5 2.5l2.5 4.5v11" />
                    <path d="M12 9m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                    <path d="M9 21v-5a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v5" />
                </svg>
                {huespedes}
            </p>
            <p class="flex justify-center items-center object-center content-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-door" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M14 12v.01" />
                    <path d="M3 21h18" />
                    <path d="M6 21v-16a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v16" />
                </svg>
                {habitaciones}
            </p>
            <p class="flex justify-center items-center object-center content-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-bed" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M7 9m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                    <path d="M22 17v-3h-20" />
                    <path d="M2 8v9" />
                    <path d="M12 14h10v-2a3 3 0 0 0 -3 -3h-7v5z" />
                </svg>
                {camas}
            </p>
            <p class="flex justify-center items-center object-center content-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-toilet-paper" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M6 10m-3 0a3 7 0 1 0 6 0a3 7 0 1 0 -6 0" />
                    <path d="M21 10c0 -3.866 -1.343 -7 -3 -7" />
                    <path d="M6 3h12" />
                    <path d="M21 10v10l-3 -1l-3 2l-3 -3l-3 2v-10" />
                    <path d="M6 10h.01" />
                </svg>
                {baños}
            </p>
        </div>
        <div class="mt-6  text-2xl mx-auto max-w-[65rem] ">
            <p class="text-[gray]" style="text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);">{description}</p>
        </div>
        
    </div>

    <div class="mt-8 mb-12 w-[30rem] max-w-lg mx-auto">
        <h1 class="text-4xl flex items-center font-semibold justify-center text-center text-[#224E35]" style="text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);">Comodidades del lugar</h1>
        <div class="flex flex-col justify-center items-center">
            <ul class="text-center text-2xl mt-4 text-[gray] grid gap-3" style="text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);">
                <li class="grid grid-cols-2 justify-center content-center items-center text-center" >
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-router" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M3 13m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v4a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z" />
                        <path d="M17 17l0 .01" />
                        <path d="M13 17l0 .01" />
                        <path d="M15 13l0 -2" />
                        <path d="M11.75 8.75a4 4 0 0 1 6.5 0" />
                        <path d="M8.5 6.5a8 8 0 0 1 13 0" />
                      </svg>
                    {comodidad1}
                </li>
                <li class="grid grid-cols-2 justify-center content-center items-center text-center">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-car-garage" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M5 20a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
                        <path d="M15 20a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
                        <path d="M5 20h-2v-6l2 -5h9l4 5h1a2 2 0 0 1 2 2v4h-2m-4 0h-6m-6 -6h15m-6 0v-5" />
                        <path d="M3 6l9 -4l9 4" />
                    </svg>
                    {comodidad2}
                </li>
                <li class="grid grid-cols-2 justify-center content-center items-center text-center">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-window" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M12 3c-3.866 0 -7 3.272 -7 7v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1 -1v-10c0 -3.728 -3.134 -7 -7 -7z" />
                        <path d="M5 13l14 0" />
                        <path d="M12 3l0 18" />
                    </svg>
                    {comodidad3}
                </li>
                <li class="grid grid-cols-2 justify-center content-center items-center text-center">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-desk" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M3 6h18" />
                        <path d="M4 6v13" />
                        <path d="M20 19v-13" />
                        <path d="M4 10h16" />
                        <path d="M15 6v8a2 2 0 0 0 2 2h3" />
                    </svg>
                    {comodidad4}
                </li>
                <li class="grid grid-cols-2 justify-center content-center items-center text-center">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-temperature" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M10 13.5a4 4 0 1 0 4 0v-8.5a2 2 0 0 0 -4 0v8.5" />
                        <path d="M10 9l4 0" />
                    </svg>
                    {comodidad5}
                </li>
            </ul>
        </div>
    </div>


</div>